:root {
  --light-text: #fff;
  --dark-text: #555;
  --grey-light: #dedede;
  /* palette */
  --palette-1: #2b2d42;
  --palette-2: #8d99ae;
  --palette-3: #edf2f4;
  --palette-4: #ef233c;
  --palette-5: #d90429;
  --palette-6: #8d1616;
  /* swagger */
  --swagger-method: #d9042988;
  --swagger-bg: rgb(243 106 90 / 5%);
  /* project */
  --nucl-dis:#9394a6;
  --bond-dis:#f5f5f5;
  --strand-end: #666e7c;
}

/* global */
body {
    font-family: 'Open Sans', sans-serif;
}
a { color: var(--palette-5); }
a:hover { color: var(--palette-6); }
h1 { color: var(--palette-6); line-height: 2rem; font-size: 30px; font-weight: 300; }
p { margin-bottom: 1rem; }

/* breadcrumbs */
.v-breadcrumbs { padding: 10px 0!important; overflow-x: auto; }
.v-breadcrumbs-item { font-size: 14px!important; padding:0!important; text-wrap: nowrap; }
.v-breadcrumbs-divider { padding: 0!important; }

/* cards */
.v-card-title { color: var(--dark-text); font-weight: 600!important; padding-bottom: 0.5rem!important; border-bottom: 1px solid var(--grey-light); font-size: 1.1rem!important; }
.v-card-title .mdi { vertical-align: text-bottom; }

/* specific styles (not working on components) */
#submenu-search .v-list-item__prepend > .v-icon ~ .v-list-item__spacer { width: 15px!important; }
#submenu-search .v-list-item-title { font-size: 14px!important; }
#submenu-search-responsive .v-list-item__prepend > .v-icon ~ .v-list-item__spacer { width: 15px!important; }
#submenu-search-responsive .v-list-group__items { --indent-padding: calc(var(--parent-padding)); }
.item-v-select .v-list-item__prepend > .v-icon ~ .v-list-item__spacer { width: 10px!important; }
span.seq-highlight {  color: var(--palette-5); }

/* TO PUT IN A DIV OR SMTH */
.v-locale--is-ltr.v-slider.v-input--horizontal .v-slider-thumb__label, .v-locale--is-ltr .v-slider.v-input--horizontal .v-slider-thumb__label {
  transform: translateX(-50%) translateY(65px)!important;
}

.v-slider.v-input--horizontal .v-slider-thumb__label::before {
  top: -6px;
  transform: scaleY(-1);
}

/* drag select global styles */
.ds-selector {
  background: rgba(212, 33, 33, 0.1)!important;
  border: 1px dashed rgb(212 33 33 / 80%)!important;
}

@media (min-width: 1920px) {
  .v-container { max-width: 1400px!important; }
}