:root {
    --light-text: #fff;
    --dark-text: #555;
    --grey-light: #dedede;
    /* palette */
    --palette-1: #2b2d42;
    --palette-2: #8d99ae;
    --palette-3: #edf2f4;
    --palette-4: #ef233c;
    --palette-5: #d90429;
    --palette-6: #8d1616;
}

/* global */
body {
    font-family: 'Open Sans', sans-serif;
}
h1 { color: var(--palette-6); line-height: 2rem; font-size: 30px; font-weight: 300; }
p { margin-bottom: 1rem; }

/* breadcrumbs */
.v-breadcrumbs { padding: 10px 0!important; }
.v-breadcrumbs-item { font-size: 14px!important; padding:0!important; }
.v-breadcrumbs-divider { padding: 0!important; }

/* cards */
.v-card-title { color: var(--dark-text); font-weight: 600!important; padding-bottom: 0.5rem!important; border-bottom: 1px solid var(--grey-light); font-size: 1.1rem!important; }
.v-card-title .mdi { vertical-align: text-bottom; }

@media (min-width: 1920px) {
    .v-container { max-width: 1400px!important; }
}